@model Final_Question1.Models.Passengers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passengers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatPreference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatPreference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RewardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RewardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountPercentage)%
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
