@model IEnumerable<MusicStore.Models.Song>

@{
    ViewData["Title"] = "Albums";
}

<h2>Albums</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <img src="../../@Html.DisplayFor(modelItem => item.ImagePath)" height="100" width="100" />
            </td>
            <td>
                <a class="btn btn-default" href="ShoppingCart/@item.Album">Buy Album</a>
            </td>
        </tr>
}
    </tbody>
</table>
