@model MusicStore.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FavoriteGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FavoriteGenre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FavoriteSong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FavoriteSong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            <img src="../../@Html.DisplayFor(model => model.ImagePath)" height="100" width="100" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
